@model Bewerber.Models.Stellenangebote

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Stellenangebote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NL" class="control-label"></label>
                <input asp-for="NL" class="form-control" />
                <span asp-validation-for="NL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BEZ" class="control-label"></label>
                <input asp-for="BEZ" class="form-control" />
                <span asp-validation-for="BEZ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <input asp-for="Detail" class="form-control" />
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VDatum" class="control-label"></label>
                <input asp-for="VDatum" class="form-control" />
                <span asp-validation-for="VDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BDatum" class="control-label"></label>
                <input asp-for="BDatum" class="form-control" />
                <span asp-validation-for="BDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preis" class="control-label"></label>
                <input asp-for="Preis" class="form-control" />
                <span asp-validation-for="Preis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Referenz" class="control-label"></label>
                <input asp-for="Referenz" class="form-control" />
                <span asp-validation-for="Referenz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gesamt" class="control-label"></label>
                <input asp-for="Gesamt" class="form-control" />
                <span asp-validation-for="Gesamt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eingestellt" class="control-label"></label>
                <input asp-for="Eingestellt" class="form-control" />
                <span asp-validation-for="Eingestellt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unbearbeitet" class="control-label"></label>
                <input asp-for="Unbearbeitet" class="form-control" />
                <span asp-validation-for="Unbearbeitet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

